/* photo section accueil */
#accueil {
    background-color: #263d36;
    background-image: url("../img/laboratoire.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}

#accueil img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
}

/* Card accueil */
#card {
    /* width: 31.25rem; */
    background-color: #fff;
    border-radius: .75rem;
    -webkit-box-shadow: .0625rem .0625rem .625rem 0 rgba(0, 0, 0, .3);
    box-shadow: .0625rem .0625rem .625rem 0 rgba(0, 0, 0, .3);
}

/* groupe de cards */ 
.infocard {
    padding-bottom: 1.5em;
}

/* icon dans les cards */
.icon {
  font-size: 5rem; /* ajuste la taille comme tu veux : 2rem, 4rem, etc. */
  display: block;
  text-align: center;
  margin-bottom: 1rem; /* espace sous l’icône */
  color: #0181CA; /* facultatif : couleur */
}