/* photo section accueil */
#accueil {
    background-color: #263d36;
    background-image: url("../img/logo/logo_mareva.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}

#accueil img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
}

#accueil a {
    border: 1px solid #0181CA;
    border-radius: 290486px;
    color: #3c3f41;
    font-size: 1em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
}

#accueil a:hover {
    background: #0181CA;
    color: white;
}

/* bouton remonter */
#btnTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  display: none; /* caché par défaut */
  width: 45px;
  height: 45px;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  display: flex;
  background: linear-gradient(to bottom, #0047A0, #0181CA);
  border: #0181CA;
}
#btnTop:hover {
    background: linear-gradient(to bottom, #5f666e, #7E858C);
}

/* icon dans les cards */
#icon {
  font-size: 3rem; /* ajuste la taille comme tu veux : 2rem, 4rem, etc. */
  display: block;
  text-align: center;
  margin-bottom: 1rem; /* espace sous l’icône */
  color: #0181CA; /* facultatif : couleur */
}

/* Titre partie */
#team h2, #contact h2 {
    color: #0181CA;
}
#horaires h2, #acces h2 {
    color: #7E858C;
}

/* footer */
.footer-blue {
    background-color: #0181CA;
}